
.botao{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0 auto; 
    justify-content: space-between;
    color:#fff;
}

.p3{
    width: 215px;
    padding: 10px;
    background: rgb(59, 155, 64);
    border-radius: 5px;
}
.p4{
    width: 215px;
    padding: 10px;
    background: rgb(30, 62, 170);
    border-radius: 5px;
}